@model Info
@{ 
    ViewBag.Title = "Housing detial";
}
<h1>House Details</h1>
<div class="row">
    <div class="col-sm-5">
        <p>image not added</p>
    </div>
    <div class="col-sm-5">
        <h2>@Model.Address</h2>
        <table class="table table-bordered">
            <tr>
                <td><b>Price:</b></td>
                <td>$ @Model.Price</td>
            </tr>
            <tr>
                <td><b>Square Feet:</b></td>
                <td> @Model.SqFt ft</td>
            </tr>
            <tr>
                <td><b>Year Built:</b></td>
                <td> @Model.Year</td>
            </tr>
        </table>
    </div>
    <div class="col-sm-2"></div>
</div>
